.event-partners {
  padding-bottom: 100px;
  @media (max-width: 576px) {
    padding-bottom: 40px;
  }
  &__title {
    display: block;
    color: $gray-black;
    font-weight: bold;
    font-size: 26px;
    line-height: 30px;
    text-transform: uppercase;
    margin-bottom: 34px;
    text-align: center;
  }
  &__cards {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    @media (max-width: 992px) {
      flex-direction: column;
      align-items: center;
    }
  }
  &__card {
    @media (max-width: 992px) {
      margin-bottom: 34px;
    }
  }
  &__images {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  &__img {
    margin-right: 30px;
    margin-bottom: 40px;
    @media (max-width: 768px) {
      transform: scale(0.7);
      margin-right: 20px;
      margin-bottom: 20px;
    }
  }
}
