.faq {
  margin-bottom: 100px;
  &__item {
    position: relative;
    cursor: pointer;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-right: 25px;
    padding-left: 25px;
    transition: all 0.2s;
    &--active {
      background-color: #253869;
      .faq__answer {
        height: 80px;
        @media (max-width: 768px) {
          height: 120px;
        }
      }
      .faq__icon {
        background-image: url("../img/faq/close.svg");
        @media (max-width: 576px) {
          background-image: url("../img/faq/close-small.svg");
        }
      }
    }
    &::after {
      position: absolute;
      content: "";
      bottom: 0;
      left: 0;
      height: 1px;
      width: 100%;
      background-color: rgba(206, 206, 206, 0.3);
    }
    @media (max-width: 768px) {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
  &__list {
    @media (max-width: 768px) {
      background-color: #000;
    }
  }
  &__question {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    font-size: 26px;
    line-height: 140%;
    letter-spacing: 0.9px;
    margin-bottom: 5px;
    @media (max-width: 768px) {
      font-size: 12px;
      line-height: 17px;
    }
  }
  &__answer {
    height: 0;
    overflow: hidden;
    max-width: 955px;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 1.5px;
    color: $gray-light;
    transition: 0.2s all;
    @media (max-width: 768px) {
      font-size: 14px;
      line-height: 17px;
      width: 290px;
    }
  }
  &__icon {
    width: 35px;
    height: 35px;
    background-image: url("../img/faq/open.svg");
    background-repeat: no-repeat;
    background-position: center;
    @media (max-width: 576px) {
      background-image: url("../img/faq/open-small.svg");
    }
  }
}
