.form {
  display: flex;
  flex-direction: column;
  &__input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $white;
    padding: 20px;
    color: $white;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.04em;
    text-indent: 15px;
    &--number {
      width: 61px;
      height: 38px;
      border: 1px solid #ffffff;
      padding: 0;
      border-radius: 10px;
    }
    &::placeholder {
      color: rgba(255, 255, 255, 0.4);
    }
  }
  &__tickets {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 50px;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.04em;
    color: $white;
  }
  &__button {
    margin-bottom: 16px;
  }
  &__note {
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.8px;
  }
}
