.header {
  text-align: center;
  overflow: hidden;
  padding-bottom: 77px;
  @media (max-width: 576px) {
    padding-bottom: 48px;
  }
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 55px;
    padding-bottom: 44px;
    @media (max-width: 576px) {
      padding-top: 30px;
      padding-bottom: 36px;
    }
  }
  &__info {
    position: relative;
    &::after {
      position: absolute;
      z-index: 2;
      content: "COVID FREE";
      font-weight: bold;
      font-size: 23px;
      line-height: 30px;
      padding: 15px 19px;
      color: $white;
      top: -11px;
      right: -288px;
      background-color: $pink;
      @media (max-width: 1260px) {
        right: -100px;
      }
      @media (max-width: 992px) {
        font-size: 16px;
        right: -80px;
      }
      @media (max-width: 576px) {
        display: none;
      }
      @media (max-width: 453px) {
      }
    }
  }
  &__menu {
    display: none;
    cursor: pointer;
    @media (max-width: 576px) {
      display: block;
      margin-left: 8px;
      margin-right: auto;
    }
  }
  &__nav {
    margin-right: 8px;
    @media (max-width: 576px) {
      display: none;
    }
  }
  &__logo {
    margin-left: 30px;
    @media (max-width: 576px) {
      margin-left: -22px;
      margin-right: auto;
    }
  }
  &__link {
    text-decoration: none;
    color: $gray;
    font-weight: 900;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    transition: all 0.2s;
    padding-bottom: 6px;
    &:first-child {
      margin-right: 33px;
    }
    &:hover {
      color: $white;
      border-bottom: 1px solid $white;
    }
  }
  &__locations {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 30px;
    text-transform: uppercase;
    margin-bottom: 34px;
    @media (max-width: 576px) {
      font-size: 21px;
      line-height: 20px;
      margin-left: 5px;
      margin-bottom: 39px;
    }
  }
  &__img {
    margin-bottom: 45px;
    @media (max-width: 768px) {
      width: 394px;
    }
    @media (max-width: 576px) {
      margin-bottom: 22px;
    }
  }
  &__subtitle {
    display: block;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    margin-bottom: 20px;
    @media (max-width: 576px) {
      margin-bottom: 0;
      line-height: 22px;
    }
  }
  &__description {
    font-family: "Roboto Condensed", sans-serif;
    margin-bottom: 45px;
    @media (max-width: 576px) {
      margin-bottom: 25px;
    }
  }
  &__text {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    @media (max-width: 576px) {
      font-size: 18px;
      line-height: 22px;
    }
  }
  &__buttons {
    margin-bottom: 77px;
    @media (max-width: 576px) {
      margin-bottom: 30px;
    }
  }
  &__slider {
    max-width: 752px;
    margin: 0 auto;
    @media (max-width: 992px) {
      max-width: 750px;
    }
    @media (max-width: 768px) {
      max-width: 560px;
    }
    @media (max-width: 576px) {
      max-width: 350px;
    }
    @media (max-width: 453px) {
      max-width: 276px;
    }
  }
}
