.map {
  &__block {
    display: flex;
    border-radius: 5px;
    overflow: hidden;
    @media (max-width: 992px) {
      justify-content: center;
    }
  }
  &__info {
    padding: 55px 30px;
    background: rgba(103, 173, 255, 0.2);
    backdrop-filter: blur(15px);
    @media (max-width: 992px) {
      display: none;
    }
  }
  &__date {
    display: block;
    color: $blue;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.9px;
    text-transform: uppercase;
  }
  &__place {
    display: flex;
  }
  &__place-doc {
    width: 494px;
    border-radius: 5px 0 0 5px;
    @media (max-width: 992px) {
      height: 357px;
      border-radius: 5px;
    }
    @media (max-width: 576px) {
      height: 283px;
    }
  }
  &__place-name {
    display: block;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.9px;
    text-transform: uppercase;
    margin-bottom: 12px;
  }
  &__place-adress {
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.9px;
    margin-bottom: 12px;
  }
  &__place-route {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.9px;
  }
}
