.more {
  &__card {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background: rgba(108, 131, 255, 0.5);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    padding: 37px 31px 52px 55px;
    @media (max-width: 768px) {
        padding: 37px 55px 52px 55px;
        justify-content: center;
      }
      @media (max-width: 576px) {
        padding-left: 20px;
        padding-right: 20px;
      }
  }
  &__form {
      width: 345px;
      margin-right: 125px;
      @media (max-width: 768px) {
        margin-right: 0;
      }
  }
  &__description {
      width: 464px;
      p {
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 0.8px;
        margin-bottom: 20px;
      }
      @media (max-width: 768px) {
        display: none;
      }
  }
  &__button {
      margin-top: 30px;
      padding: 19px 20px;
  }
}
