.partners {
  @media (max-width: 576px) {
    padding-bottom: 70px;
  }
  &__cards {
    display: flex;
    @media (max-width: 1200px) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  &__card {
    position: relative;
    margin-bottom: 30px;
    &:not(:last-child) {
      margin-right: 30px;
    }
    &:first-child {
      .card__bg {
        background-image: url("../img/partners/card-1.png");
      }
    }
    &:nth-child(2) {
      .card__bg {
        background-image: url("../img/partners/card-2.png");
      }
    }
    &:nth-child(3) {
      .card__bg {
        background-image: url("../img/partners/card-3.png");
      }
    }
    &:nth-child(4) {
      .card__bg {
        background-image: url("../img/partners/card-4.png");
      }
    }
    @media (max-width: 1200px) {
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
    @media (max-width: 768px) {
      margin-right: 30px !important;

      &:nth-child(2n) {
        margin-right: 0 !important;
      }
    }
    @media (max-width: 576px) {
      margin-bottom: 8px;
      &:not(:nth-child(2n)) {
        margin-right: 8px !important;
      }
    }
  }
}
