.stats {
  padding-bottom: 66px;
  &__container {
    display: flex;
    justify-content: space-around;
    text-align: center;
    @media (max-width: 768px) {
      flex-wrap: wrap;
    }
  }
  &__item {
    @media (max-width: 768px) {
      &:first-child {
        flex-basis: 100%;
        margin-bottom: 17px;
      }
    }
  }
  &__number {
    font-weight: bold;
    font-size: 94px;
    line-height: 83px;
    margin-bottom: 14px;
  }
  &__info {
    font-weight: 900;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
    @media (max-width: 768px) {
      &:first-child {
        font-size: 15px;
        line-height: 18px;
      }
    }
  }
}
