$gray: #a3a3a3;
$white: #ffffff;
$bgcolor: #1d0109;
$gray-light: #dadada;
$gray-black: #53555e;
$pink: #ff2c6b;
$section-title: #fefeff;
$blue: #a6b9eb;
$black: #002b3d;
$footer-text: #fefefe;
$link: #A6B9EB;